# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
  - 1.8.x

jobs:  
  include:
    - stage: "Deployment"
      go : 1.8                
      name:  "unit testing All"            
      script: - go build
              - go test logins/test/*.go
